.rounded-input {
  width: 328px;
  height: 39px;
  border: 1px solid #C6C6C6;
  border-radius: 20px;
  padding-left: 16px;
  color: #4E4E4E;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  outline: none;
}
